.div-boleta{
	height: 400px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.form-b{
	
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
label{
	font-weight: bold;
}
.input-l{
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
	margin: 5px 0px;
	height: 24px; width: 60%;
	padding: 0px 12px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0 2px 5px rgba(45, 45,45,0.2);
}
